<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">名字</label>
        <input type="text" class="form-control" formControlName="person_name" #person_name [(ngModel)]="business.person_name" />
      </div>
      <div *ngIf="angForm.controls['person_name'].invalid && (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['person_name'].errors.required">
         請輸入要更改的名字
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">公司名稱</label>
        <input type="text" class="form-control" formControlName="business_name" #business_name [(ngModel)]="business.business_name" />
      </div>
      <div *ngIf="angForm.controls['business_name'].invalid && (angForm.controls['business_name'].dirty || angForm.controls['business_name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['business_name'].errors.required">
         請輸入要更改的公司名稱
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">公司編號</label>
        <input type="text" class="form-control" formControlName="business_gst_number" #business_gst_number [(ngModel)]="business.business_gst_number" />
      </div>
      <div *ngIf="angForm.controls['business_gst_number'].invalid && (angForm.controls['business_gst_number'].dirty || angForm.controls['business_gst_number'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['business_gst_number'].errors.required">
         請輸入要更改的公司編號
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateBusiness(person_name.value, business_name.value, business_gst_number.value)" [disabled]="angForm.invalid"
          class="btn btn-primary">更新資料</button>
      </div>
    </form>
  </div>
</div>
