<table class="table table-hover">
  <thead>
    <tr>
      <td>名字</td>
      <td>公司名稱</td>
      <td>公司編號</td>
      <td colspan="2">編輯</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let business of businesses">
      <td>{{ business.person_name }}</td>
      <td>{{ business.business_name }}</td>
      <td>{{ business.business_gst_number }}</td>
      <td><a [routerLink]="['edit', business._id]" class="btn btn-primary">編輯</a></td>
      <td><a (click)="deleteBusiness(business._id)" class="btn btn-danger">刪除</a></td>
    </tr>
  </tbody>
</table>
